In [ ]:
import pandas as pd
import numpy as np

In [2]:
e = pd.read_excel("equilent_load.xlsx")

In [3]:
e.to_csv("fafrratio.csv",header=1)

In [4]:
df = e.T.set_index(0).T
df

0   Fa/C0 X_e_less Y_e_less X_e_great Y_e_great     e
1  0.0025        1        0      0.56         2   0.22
2    0.04        1        0      0.56       1.8  0.247
3    0.07        1        0      0.56       1.6   0.27
4    0.13        1        0      0.56       1.4   0.31
5    0.25        1        0      0.56       1.2   0.37
6     0.5        1        0      0.56         1   0.44

In [5]:
df = df.astype(float)
df

0   Fa/C0  X_e_less  Y_e_less  X_e_great  Y_e_great     e
1  0.0025       1.0       0.0       0.56        2.0  0.220
2  0.0400       1.0       0.0       0.56        1.8  0.247
3  0.0700       1.0       0.0       0.56        1.6  0.270
4  0.1300       1.0       0.0       0.56        1.4  0.310
5  0.2500       1.0       0.0       0.56        1.2  0.370
6  0.5000       1.0       0.0       0.56        1.0  0.440

In [6]:
def i(num):
    return e['Fa/C0'].between(e['Fa/C0'],e['Fa/C0'])

In [8]:
e = round(e,2)

In [9]:
e

  Table 1 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0   Fa/C0   X_e_less   Y_e_less  X_e_great  Y_e_great         e
1  0.0025          1          0       0.56          2       0.22
2    0.04          1          0       0.56        1.8      0.247
3    0.07          1          0       0.56        1.6       0.27
4    0.13          1          0       0.56        1.4       0.31
5    0.25          1          0       0.56        1.2       0.37
6     0.5          1          0       0.56          1       0.44

In [10]:
if e['Fa/C0'] <= 0 and e['Fa/C0'] >= 0.04

SyntaxError: invalid syntax (<ipython-input-10-d78937da06a2>, line 1)

In [11]:
df

0   Fa/C0  X_e_less  Y_e_less  X_e_great  Y_e_great     e
1  0.0025       1.0       0.0       0.56        2.0  0.220
2  0.0400       1.0       0.0       0.56        1.8  0.247
3  0.0700       1.0       0.0       0.56        1.6  0.270
4  0.1300       1.0       0.0       0.56        1.4  0.310
5  0.2500       1.0       0.0       0.56        1.2  0.370
6  0.5000       1.0       0.0       0.56        1.0  0.440

In [12]:
if num

SyntaxError: invalid syntax (<ipython-input-12-c65e38c34929>, line 1)

In [13]:
bearing = pd.read_excel("Book2.xlsx") 
bearing.d = bearing.d.fillna(method="ffill")
bearing

        d    D   B       C      C0     Pu  Designation
0    20.0   42  12    9.95    5.00  0.212         6004
1    20.0   47  14   13.50    6.55  0.280         6204
2    20.0   52  15   16.80    7.80  0.335         6304
3    20.0   72  19   30.70   15.00  0.640         6404
4    25.0   47  12   11.90    6.55  0.275         6005
..    ...  ...  ..     ...     ...    ...          ...
61   95.0  170  32  114.00   81.50  3.000         6219
62   95.0  200  45  159.00  118.00  4.150         6319
63  100.0  150  24   63.70   54.00  2.040         6024
64  100.0  180  34  127.00   93.00  3.350         6220
65  100.0  215  47  174.00  140.00  4.750         6320

[66 rows x 7 columns]

In [14]:
bearing.dtypes

d              float64
D                int64
B                int64
C              float64
C0             float64
Pu             float64
Designation      int64
dtype: object

In [15]:
bearing.d.value_counts().sort_values(ascending=False)

20.0     4
50.0     4
55.0     4
25.0     4
30.0     4
35.0     4
40.0     4
45.0     4
60.0     4
65.0     4
70.0     4
75.0     4
80.0     4
85.0     4
90.0     4
95.0     3
100.0    3
Name: d, dtype: int64

In [ ]:
N = int(input("ENter the rpm: "))
fr = int(input("ENter the Radial load"))
fa = int(input("ENter the axial load"))
years_to_run = int(input("years_to_run: "))
per_day_run =  int(input("years_to_run in hours: "))
total_life = per_day_run*years_to_run*365
total_life

In [ ]:
(N,fr,fa,years_to_run,per_day_run,total_life)

In [ ]:
bearing = pd.read_excel("Book2.xlsx") 
bearing.d = bearing.d.fillna(method="ffill")
bearing.C = bearing.C*1000
bearing.C0 = bearing.C0*1000
bearing

In [ ]:
e = pd.read_excel("equilent_load.xlsx",header=0)
e = e.T.set_index(0).T
e = e.astype(float)
e

In [ ]:
print(bearing.d.unique())
dia = int(input("Select dia from 20 to 100mm : "))
new_dia_values = bearing[bearing.d==dia]
print(new_dia_values.Designation)
choose_designation = int(input("Select designation from above: "))
new_dia_values = bearing[bearing.Designation==choose_designation]

In [ ]:
new_dia_values

In [ ]:
fafr = fa/fr
fafr

In [ ]:
fac0 = float(fa/(new_dia_values.C0))
fac0 = round(fac0,2)
fac0

In [ ]:
e

In [ ]:
if fafr <= 0.44:
    X = 1
    Y = 0
    print(X,Y)
elif fafr > 0.44:
    X = 0.56
    if fac0 >= e['Fa/C0'][1] and fac0 <= e['Fa/C0'][2]:
        Y=1.9
    elif fac0 >= e['Fa/C0'][2] and fac0 <= e['Fa/C0'][3]:
        Y = 1.7
    elif fac0 >= e['Fa/C0'][3] and fac0 <= e['Fa/C0'][4]:
        Y = 1.5
    elif fac0 >= e['Fa/C0'][4] and fac0 <= e['Fa/C0'][5]:
        Y = 1.3
    elif fac0 >= e['Fa/C0'][5] and fac0 <= e['Fa/C0'][6]:
        Y = 1.1
else:
    print("unable")

In [ ]:
X,Y

In [ ]:
e['Fa/C0'] = round(e['Fa/C0'],2)

In [ ]:
e['Fa/C0']

In [ ]:
(X,Y,fr,fa)

In [ ]:
l = [1.3,1.4,1.5,1.6,1.7,1.8,1.9]
print(l)
s = float(input("ENter fos: "))
print(s)
P = ((X*fr)+(Y*fa))*s 
print(P)

In [ ]:
cfind = P * 9.11
cfind

In [ ]:
if cfind > float(new_dia_values.C):
    print("Not safe")
elif  cfind < float(new_dia_values.C):
    print(f"Bearing is safe:::{float(new_dia_values.C)} < {c}")

In [ ]:
float(new_dia_values.C)

In [ ]:
N = int(input("ENter the rpm: "))
fr = int(input("ENter the Radial load"))
fa = int(input("ENter the axial load"))
years_to_run = int(input("years_to_run: "))
per_day_run =  int(input("years_to_run in hours: "))
total_life = per_day_run*years_to_run*365
total_life

In [ ]:
print(bearing.d.unique())
dia = int(input("Select dia from 20 to 100mm : "))
new_dia_values = bearing[bearing.d==dia]
print(new_dia_values.Designation)
choose_designation = int(input("Select designation from above: "))
new_dia_values = bearing[bearing.Designation==choose_designation]
new_dia_values

In [ ]:
fafr = fa/fr
fafr

In [ ]:
fac0 = float(fa/(new_dia_values.C0))
fac0 = round(fac0,2)
fac0

In [ ]:
if fafr <= 0.44:
    X = 1
    Y = 0
    print(X,Y)
elif fafr > 0.44:
    X = 0.56
    if fac0 < e['Fa/C0'][1] and fac0 >= e['Fa/C0'][2]:
        Y=1.9
    elif fac0 < e['Fa/C0'][2] and fac0 >= e['Fa/C0'][3]:
        Y = 1.7
    elif fac0 < e['Fa/C0'][3] and fac0 >= e['Fa/C0'][4]:
        Y = 1.5
    elif fac0 < e['Fa/C0'][4] and fac0 >= e['Fa/C0'][5]:
        Y = 1.3
    elif fac0 < e['Fa/C0'][5] and fac0 >= e['Fa/C0'][6]:
        Y = 1.1
else:
    print("unable")

In [ ]:
Y = 1.5
X,Y

In [ ]:
l = [1.3,1.4,1.5,1.6,1.7,1.8,1.9]
print(l)
s = float(input("ENter fos: "))
print(s)
P = ((X*fr)+(Y*fa))*s 
print(P)

In [ ]:
cfind = P * 9.11
cfind

In [ ]:
float(new_dia_values.C)
if cfind > float(new_dia_values.C):
    print("Not safe")
elif  cfind < float(new_dia_values.C):
    print(f"Bearing is safe:::{cfind} < {float(new_dia_values.C)}")

In [ ]:
print(bearing.d.unique())
dia = int(input("Select dia from 20 to 100mm : "))
new_dia_values = bearing[bearing.d==dia]
print(new_dia_values.Designation)

In [ ]:
new_dia_values

In [ ]:
for i in range(len(new_dia_values)):
    print(i)
    fac0 = float(fa/(new_dia_values.C0))
    fac0 = round(fac0,2)
    fac0

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def load_data():
    bearing = pd.read_excel("Book2.xlsx")
    bearing.d = bearing.d.fillna(method="ffill")
    bearing.C = bearing.C * 1000
    bearing.C0 = bearing.C0 * 1000
    e = pd.read_excel("equilent_load.xlsx", header=0)
    e = e.T.set_index(0).T
    e = e.astype(float)
    return (bearing, e)


bearing, e = load_data()
print(bearing)
print(e)

In [ ]:
N = int(input("ENter the rpm: "))
fr = int(input("ENter the Radial load"))
fa = int(input("ENter the axial load"))
years_to_run = int(input("years_to_run: "))
per_day_run =  int(input("years_to_run in hours: "))
total_life = per_day_run*years_to_run*365
total_life

In [ ]:
di = {"N":N,"Fr":fr,"Fa":fa,"years_to run":years_to_run,"per_day_to_run":per_day_run,"Life":total_life}
user = pd.DataFrame(di,index=[0])
user

In [ ]:
user_input = pd.DataFrame(di,index=[0]).T
user_input.columns = ["InputValues"]

In [ ]:
user_input