In [1]:
import pandas as pd
import numpy as np

In [65]:
e = pd.read_excel("equilent_load.xlsx")

In [68]:
e.to_csv("fafrratio.csv",header=1)

In [72]:
df = e.T.set_index(0).T
df

0   Fa/C0 X_e_less Y_e_less X_e_great Y_e_great     e
1  0.0025        1        0      0.56         2   0.22
2    0.04        1        0      0.56       1.8  0.247
3    0.07        1        0      0.56       1.6   0.27
4    0.13        1        0      0.56       1.4   0.31
5    0.25        1        0      0.56       1.2   0.37
6     0.5        1        0      0.56         1   0.44

In [74]:
df = df.astype(float)
df

0   Fa/C0  X_e_less  Y_e_less  X_e_great  Y_e_great     e
1  0.0025       1.0       0.0       0.56        2.0  0.220
2  0.0400       1.0       0.0       0.56        1.8  0.247
3  0.0700       1.0       0.0       0.56        1.6  0.270
4  0.1300       1.0       0.0       0.56        1.4  0.310
5  0.2500       1.0       0.0       0.56        1.2  0.370
6  0.5000       1.0       0.0       0.56        1.0  0.440

In [26]:
def i(num):
    return e['Fa/C0'].between(e['Fa/C0'],e['Fa/C0'])

In [27]:
i(0.31)

1    True
2    True
3    True
4    True
5    True
6    True
Name: Fa/C0, dtype: bool

In [35]:
e = round(e,2)

In [36]:
e

0  Fa/C0  X_e_less  Y_e_less  X_e_great  Y_e_great    e
1   0.00       1.0       0.0       0.56        2.0  0.22
2   0.04       1.0       0.0       0.56        1.8  0.25
3   0.07       1.0       0.0       0.56        1.6  0.27
4   0.13       1.0       0.0       0.56        1.4  0.31
5   0.25       1.0       0.0       0.56        1.2  0.37
6   0.50       1.0       0.0       0.56        1.0  0.44

In [37]:
if e['Fa/C0'] <= 0 and e['Fa/C0'] >= 0.04

SyntaxError: invalid syntax (<ipython-input-37-d78937da06a2>, line 1)

In [99]:
df

0   Fa/C0  X_e_less  Y_e_less  X_e_great  Y_e_great     e
1  0.0025       1.0       0.0       0.56        2.0  0.220
2  0.0400       1.0       0.0       0.56        1.8  0.247
3  0.0700       1.0       0.0       0.56        1.6  0.270
4  0.1300       1.0       0.0       0.56        1.4  0.310
5  0.2500       1.0       0.0       0.56        1.2  0.370
6  0.5000       1.0       0.0       0.56        1.0  0.440

In [98]:
if num

TypeError: only integer scalar arrays can be converted to a scalar index

In [103]:
bearing = pd.read_excel("Book2.xlsx") 
bearing.d = bearing.d.fillna(method="ffill")
bearing

        d    D   B       C      C0     Pu  Designation
0    20.0   42  12    9.95    5.00  0.212         6004
1    20.0   47  14   13.50    6.55  0.280         6204
2    20.0   52  15   16.80    7.80  0.335         6304
3    20.0   72  19   30.70   15.00  0.640         6404
4    25.0   47  12   11.90    6.55  0.275         6005
..    ...  ...  ..     ...     ...    ...          ...
61   95.0  170  32  114.00   81.50  3.000         6219
62   95.0  200  45  159.00  118.00  4.150         6319
63  100.0  150  24   63.70   54.00  2.040         6024
64  100.0  180  34  127.00   93.00  3.350         6220
65  100.0  215  47  174.00  140.00  4.750         6320

[66 rows x 7 columns]

In [104]:
bearing.dtypes

d              float64
D                int64
B                int64
C              float64
C0             float64
Pu             float64
Designation      int64
dtype: object

In [106]:
bearing.d.value_counts().sort_values(ascending=False)

20.0     4
50.0     4
55.0     4
25.0     4
30.0     4
35.0     4
40.0     4
45.0     4
60.0     4
65.0     4
70.0     4
75.0     4
80.0     4
85.0     4
90.0     4
95.0     3
100.0    3
Name: d, dtype: int64

In [493]:
N = int(input("ENter the rpm: "))
fr = int(input("ENter the Radial load"))
fa = int(input("ENter the axial load"))
years_to_run = int(input("years_to_run: "))
per_day_run =  int(input("years_to_run in hours: "))
total_life = per_day_run*years_to_run*365
total_life

ENter the rpm:  1400
ENter the Radial load 3000
ENter the axial load 2500
years_to_run:  3
years_to_run in hours:  8

8760

In [494]:
(N,fr,fa,years_to_run,per_day_run,total_life)

(1400, 3000, 2500, 3, 8, 8760)

In [470]:
bearing = pd.read_excel("Book2.xlsx") 
bearing.d = bearing.d.fillna(method="ffill")
bearing.C = bearing.C*1000
bearing.C0 = bearing.C0*1000
bearing

        d    D   B         C        C0     Pu  Designation
0    20.0   42  12    9950.0    5000.0  0.212         6004
1    20.0   47  14   13500.0    6550.0  0.280         6204
2    20.0   52  15   16800.0    7800.0  0.335         6304
3    20.0   72  19   30700.0   15000.0  0.640         6404
4    25.0   47  12   11900.0    6550.0  0.275         6005
..    ...  ...  ..       ...       ...    ...          ...
61   95.0  170  32  114000.0   81500.0  3.000         6219
62   95.0  200  45  159000.0  118000.0  4.150         6319
63  100.0  150  24   63700.0   54000.0  2.040         6024
64  100.0  180  34  127000.0   93000.0  3.350         6220
65  100.0  215  47  174000.0  140000.0  4.750         6320

[66 rows x 7 columns]

In [471]:
e = pd.read_excel("equilent_load.xlsx",header=0)
e = e.T.set_index(0).T
e = e.astype(float)
e

0   Fa/C0  X_e_less  Y_e_less  X_e_great  Y_e_great     e
1  0.0025       1.0       0.0       0.56        2.0  0.220
2  0.0400       1.0       0.0       0.56        1.8  0.247
3  0.0700       1.0       0.0       0.56        1.6  0.270
4  0.1300       1.0       0.0       0.56        1.4  0.310
5  0.2500       1.0       0.0       0.56        1.2  0.370
6  0.5000       1.0       0.0       0.56        1.0  0.440

In [495]:
print(bearing.d.unique())
dia = int(input("Select dia from 20 to 100mm : "))
new_dia_values = bearing[bearing.d==dia]
print(new_dia_values.Designation)
choose_designation = int(input("Select designation from above: "))
new_dia_values = bearing[bearing.Designation==choose_designation]

[ 20.  25.  30.  35.  40.  45.  50.  55.  60.  65.  70.  75.  80.  85.
  90.  95. 100.]

Select dia from 20 to 100mm :  50

24    6010
25    6210
26    6310
27    6410
Name: Designation, dtype: int64

Select designation from above:  6210

In [496]:
new_dia_values

       d   D   B        C       C0    Pu  Designation
25  50.0  90  20  37100.0  23200.0  0.98         6210

In [497]:
fafr = fa/fr
fafr

0.8333333333333334

In [498]:
fac0 = float(fa/(new_dia_values.C0))
fac0 = round(fac0,2)
fac0

0.11

In [477]:
e

0   Fa/C0  X_e_less  Y_e_less  X_e_great  Y_e_great     e
1  0.0025       1.0       0.0       0.56        2.0  0.220
2  0.0400       1.0       0.0       0.56        1.8  0.247
3  0.0700       1.0       0.0       0.56        1.6  0.270
4  0.1300       1.0       0.0       0.56        1.4  0.310
5  0.2500       1.0       0.0       0.56        1.2  0.370
6  0.5000       1.0       0.0       0.56        1.0  0.440

In [499]:
if fafr <= 0.44:
    X = 1
    Y = 0
    print(X,Y)
elif fafr > 0.44:
    X = 0.56
    if fac0 >= e['Fa/C0'][1] and fac0 <= e['Fa/C0'][2]:
        Y=1.9
    elif fac0 >= e['Fa/C0'][2] and fac0 <= e['Fa/C0'][3]:
        Y = 1.7
    elif fac0 >= e['Fa/C0'][3] and fac0 <= e['Fa/C0'][4]:
        Y = 1.5
    elif fac0 >= e['Fa/C0'][4] and fac0 <= e['Fa/C0'][5]:
        Y = 1.3
    elif fac0 >= e['Fa/C0'][5] and fac0 <= e['Fa/C0'][6]:
        Y = 1.1
else:
    print("unable")

In [500]:
X,Y

(0.56, 1.5)

In [480]:
e['Fa/C0'] = round(e['Fa/C0'],2)

In [481]:
e['Fa/C0']

1    0.00
2    0.04
3    0.07
4    0.13
5    0.25
6    0.50
Name: Fa/C0, dtype: float64

In [501]:
(X,Y,fr,fa)

(0.56, 1.5, 3000, 2500)

In [502]:
l = [1.3,1.4,1.5,1.6,1.7,1.8,1.9]
print(l)
s = float(input("ENter fos: "))
print(s)
P = ((X*fr)+(Y*fa))*s 
print(P)

[1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9]

ENter fos:  1.8

1.8
9774.0

In [503]:
cfind = P * 9.11
cfind

89041.14

In [504]:
if cfind > float(new_dia_values.C):
    print("Not safe")
elif  cfind < float(new_dia_values.C):
    print(f"Bearing is safe:::{float(new_dia_values.C)} < {c}")

Not safe

In [318]:
float(new_dia_values.C)

16800.0

In [394]:
N = int(input("ENter the rpm: "))
fr = int(input("ENter the Radial load"))
fa = int(input("ENter the axial load"))
years_to_run = int(input("years_to_run: "))
per_day_run =  int(input("years_to_run in hours: "))
total_life = per_day_run*years_to_run*365
total_life

ENter the rpm:  1200
ENter the Radial load 2000
ENter the axial load 3000
years_to_run:  3
years_to_run in hours:  8

8760

In [395]:
print(bearing.d.unique())
dia = int(input("Select dia from 20 to 100mm : "))
new_dia_values = bearing[bearing.d==dia]
print(new_dia_values.Designation)
choose_designation = int(input("Select designation from above: "))
new_dia_values = bearing[bearing.Designation==choose_designation]
new_dia_values

[ 20.  25.  30.  35.  40.  45.  50.  55.  60.  65.  70.  75.  80.  85.
  90.  95. 100.]

Select dia from 20 to 100mm :  55

28    6011
29    6211
30    6311
31    6411
Name: Designation, dtype: int64

Select designation from above:  6411

       d    D   B        C       C0   Pu  Designation
31  55.0  140  33  99500.0  62000.0  2.6         6411

In [396]:
fafr = fa/fr
fafr

1.5

In [397]:
fac0 = float(fa/(new_dia_values.C0))
fac0 = round(fac0,2)
fac0

0.05

In [398]:
if fafr <= 0.44:
    X = 1
    Y = 0
    print(X,Y)
elif fafr > 0.44:
    X = 0.56
    if fac0 < e['Fa/C0'][1] and fac0 >= e['Fa/C0'][2]:
        Y=1.9
    elif fac0 < e['Fa/C0'][2] and fac0 >= e['Fa/C0'][3]:
        Y = 1.7
    elif fac0 < e['Fa/C0'][3] and fac0 >= e['Fa/C0'][4]:
        Y = 1.5
    elif fac0 < e['Fa/C0'][4] and fac0 >= e['Fa/C0'][5]:
        Y = 1.3
    elif fac0 < e['Fa/C0'][5] and fac0 >= e['Fa/C0'][6]:
        Y = 1.1
else:
    print("unable")

In [399]:
Y = 1.5
X,Y

(0.56, 1.5)

In [400]:
l = [1.3,1.4,1.5,1.6,1.7,1.8,1.9]
print(l)
s = float(input("ENter fos: "))
print(s)
P = ((X*fr)+(Y*fa))*s 
print(P)

[1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9]

ENter fos:  1.6

1.6
8992.0

In [401]:
cfind = P * 9.11
cfind

81917.12

In [402]:
float(new_dia_values.C)
if cfind > float(new_dia_values.C):
    print("Not safe")
elif  cfind < float(new_dia_values.C):
    print(f"Bearing is safe:::{cfind} < {float(new_dia_values.C)}")

Bearing is safe:::81917.12 < 99500.0

In [388]:
print(bearing.d.unique())
dia = int(input("Select dia from 20 to 100mm : "))
new_dia_values = bearing[bearing.d==dia]
print(new_dia_values.Designation)

[ 20.  25.  30.  35.  40.  45.  50.  55.  60.  65.  70.  75.  80.  85.
  90.  95. 100.]

Select dia from 20 to 100mm :  40

16    6008
17    6208
18    6308
19    6408
Name: Designation, dtype: int64

In [389]:
new_dia_values

       d    D   B        C       C0    Pu  Designation
16  40.0   68  15  17800.0  11600.0  0.49         6008
17  40.0   80  18  32500.0  19000.0  0.80         6208
18  40.0   90  23  42300.0  24000.0  1.02         6308
19  40.0  110  27  63700.0  36500.0  1.53         6408

In [391]:
for i in range(len(new_dia_values)):
    print(i)
    fac0 = float(fa/(new_dia_values.C0))
    fac0 = round(fac0,2)
    fac0

0
1
2
3

In [417]:
import matplotlib.pyplot as plt
import seaborn as sns

In [418]:
def load_data():
    bearing = pd.read_excel("Book2.xlsx")
    bearing.d = bearing.d.fillna(method="ffill")
    bearing.C = bearing.C * 1000
    bearing.C0 = bearing.C0 * 1000
    e = pd.read_excel("equilent_load.xlsx", header=0)
    e = e.T.set_index(0).T
    e = e.astype(float)
    return (bearing, e)


bearing, e = load_data()
print(bearing)
print(e)

        d    D   B         C        C0     Pu  Designation
0    20.0   42  12    9950.0    5000.0  0.212         6004
1    20.0   47  14   13500.0    6550.0  0.280         6204
2    20.0   52  15   16800.0    7800.0  0.335         6304
3    20.0   72  19   30700.0   15000.0  0.640         6404
4    25.0   47  12   11900.0    6550.0  0.275         6005
..    ...  ...  ..       ...       ...    ...          ...
61   95.0  170  32  114000.0   81500.0  3.000         6219
62   95.0  200  45  159000.0  118000.0  4.150         6319
63  100.0  150  24   63700.0   54000.0  2.040         6024
64  100.0  180  34  127000.0   93000.0  3.350         6220
65  100.0  215  47  174000.0  140000.0  4.750         6320

[66 rows x 7 columns]
0   Fa/C0  X_e_less  Y_e_less  X_e_great  Y_e_great     e
1  0.0025       1.0       0.0       0.56        2.0  0.220
2  0.0400       1.0       0.0       0.56        1.8  0.247
3  0.0700       1.0       0.0       0.56        1.6  0.270
4  0.1300       1.0       0.0       0.56        1.4  0.310
5  0.2500       1.0       0.0       0.56        1.2  0.370
6  0.5000       1.0       0.0       0.56        1.0  0.440

In [421]:
N = int(input("ENter the rpm: "))
fr = int(input("ENter the Radial load"))
fa = int(input("ENter the axial load"))
years_to_run = int(input("years_to_run: "))
per_day_run =  int(input("years_to_run in hours: "))
total_life = per_day_run*years_to_run*365
total_life

ENter the rpm:  ehf

ValueError: invalid literal for int() with base 10: 'ehf'

In [432]:
di = {"N":N,"Fr":fr,"Fa":fa,"years_to run":years_to_run,"per_day_to_run":per_day_run,"Life":total_life}
user = pd.DataFrame(di,index=[0])
user

      N    Fr    Fa  years_to run  per_day_to_run  Life
0  1200  2000  3000             3               8  8760

In [434]:
user_input = pd.DataFrame(di,index=[0]).T
user_input.columns = ["InputValues"]

In [435]:
user_input

                InputValues
N                      1200
Fr                     2000
Fa                     3000
years_to run              3
per_day_to_run            8
Life                   8760